.glitch-wrapper {
  position: relative;
  display: inline-block;
}

.glitch-text {
  position: relative;
  display: inline-block;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch-text::before,
.glitch-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch-text::before {
  left: var(--glitch-offset, 2px);
  text-shadow: -2px 0 var(--glitch-color-1, #6366f1);
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim 2s infinite linear alternate-reverse;
}

.glitch-text::after {
  left: calc(var(--glitch-offset, 2px) * -1);
  text-shadow: -2px 0 var(--glitch-color-2, #ec4899);
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim-2 2s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(51px, 9999px, 28px, 0);
    transform: skew(0.5deg);
  }
  5% {
    clip: rect(70px, 9999px, 6px, 0);
    transform: skew(0.4deg);
  }
  10% {
    clip: rect(39px, 9999px, 98px, 0);
    transform: skew(0.9deg);
  }
  15% {
    clip: rect(16px, 9999px, 91px, 0);
    transform: skew(0.2deg);
  }
  20% {
    clip: rect(26px, 9999px, 77px, 0);
    transform: skew(0.6deg);
  }
  25% {
    clip: rect(6px, 9999px, 30px, 0);
    transform: skew(0.8deg);
  }
  30% {
    clip: rect(98px, 9999px, 54px, 0);
    transform: skew(0.5deg);
  }
  35% {
    clip: rect(42px, 9999px, 73px, 0);
    transform: skew(0.3deg);
  }
  40% {
    clip: rect(10px, 9999px, 15px, 0);
    transform: skew(0.7deg);
  }
  45% {
    clip: rect(56px, 9999px, 89px, 0);
    transform: skew(0.4deg);
  }
  50% {
    clip: rect(34px, 9999px, 67px, 0);
    transform: skew(0.2deg);
  }
  55% {
    clip: rect(78px, 9999px, 21px, 0);
    transform: skew(0.8deg);
  }
  60% {
    clip: rect(23px, 9999px, 45px, 0);
    transform: skew(0.5deg);
  }
  65% {
    clip: rect(87px, 9999px, 12px, 0);
    transform: skew(0.3deg);
  }
  70% {
    clip: rect(45px, 9999px, 90px, 0);
    transform: skew(0.6deg);
  }
  75% {
    clip: rect(12px, 9999px, 56px, 0);
    transform: skew(0.9deg);
  }
  80% {
    clip: rect(67px, 9999px, 34px, 0);
    transform: skew(0.4deg);
  }
  85% {
    clip: rect(32px, 9999px, 78px, 0);
    transform: skew(0.7deg);
  }
  90% {
    clip: rect(89px, 9999px, 23px, 0);
    transform: skew(0.2deg);
  }
  95% {
    clip: rect(54px, 9999px, 65px, 0);
    transform: skew(0.5deg);
  }
  100% {
    clip: rect(21px, 9999px, 87px, 0);
    transform: skew(0.8deg);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip: rect(65px, 9999px, 99px, 0);
    transform: skew(0.8deg);
  }
  5% {
    clip: rect(12px, 9999px, 47px, 0);
    transform: skew(0.3deg);
  }
  10% {
    clip: rect(78px, 9999px, 23px, 0);
    transform: skew(0.6deg);
  }
  15% {
    clip: rect(34px, 9999px, 89px, 0);
    transform: skew(0.9deg);
  }
  20% {
    clip: rect(56px, 9999px, 12px, 0);
    transform: skew(0.4deg);
  }
  25% {
    clip: rect(91px, 9999px, 67px, 0);
    transform: skew(0.7deg);
  }
  30% {
    clip: rect(23px, 9999px, 54px, 0);
    transform: skew(0.2deg);
  }
  35% {
    clip: rect(45px, 9999px, 78px, 0);
    transform: skew(0.5deg);
  }
  40% {
    clip: rect(87px, 9999px, 34px, 0);
    transform: skew(0.8deg);
  }
  45% {
    clip: rect(10px, 9999px, 91px, 0);
    transform: skew(0.3deg);
  }
  50% {
    clip: rect(67px, 9999px, 45px, 0);
    transform: skew(0.6deg);
  }
  55% {
    clip: rect(32px, 9999px, 10px, 0);
    transform: skew(0.9deg);
  }
  60% {
    clip: rect(98px, 9999px, 56px, 0);
    transform: skew(0.4deg);
  }
  65% {
    clip: rect(21px, 9999px, 87px, 0);
    transform: skew(0.7deg);
  }
  70% {
    clip: rect(54px, 9999px, 23px, 0);
    transform: skew(0.2deg);
  }
  75% {
    clip: rect(76px, 9999px, 65px, 0);
    transform: skew(0.5deg);
  }
  80% {
    clip: rect(15px, 9999px, 98px, 0);
    transform: skew(0.8deg);
  }
  85% {
    clip: rect(89px, 9999px, 32px, 0);
    transform: skew(0.3deg);
  }
  90% {
    clip: rect(43px, 9999px, 76px, 0);
    transform: skew(0.6deg);
  }
  95% {
    clip: rect(6px, 9999px, 43px, 0);
    transform: skew(0.9deg);
  }
  100% {
    clip: rect(70px, 9999px, 15px, 0);
    transform: skew(0.4deg);
  }
}

@keyframes glitch-skew {
  0% {
    transform: skew(0deg);
  }
  10% {
    transform: skew(0.5deg);
  }
  20% {
    transform: skew(-0.5deg);
  }
  30% {
    transform: skew(0.3deg);
  }
  40% {
    transform: skew(-0.3deg);
  }
  50% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(0.4deg);
  }
  70% {
    transform: skew(-0.4deg);
  }
  80% {
    transform: skew(0.2deg);
  }
  90% {
    transform: skew(-0.2deg);
  }
  100% {
    transform: skew(0deg);
  }
}

